body {
    margin: 0;
    font-family: sans-serif;
    background: #ffffff;
}

.geomini-intro {
    text-align: center;
    font-size: 18px;
    margin: 15px 0;
}

.fm-main {
    display: flex;
    gap: 20px;
    padding: 0 20px;
}

.fm-products {
    flex: 1;
    display: grid;
    gap: 20px;
    text-align: center;
}

.fm-sidebar {
    min-width: 200px;
    text-align: center;
}

.fm_poster {
    width: 100%;
    max-width: 250px;
    border-radius: 8px;
}

.fm-img-content {
    height: 200px;
    width: 200px;
}
/* --- Mobile: Nhỏ hơn 768px --- */
@media (max-width: 768px) {
    .logo {
        width: 70px;
        height: 70px;
    }

    /* Ẩn cột aside */
    .fm-sidebar {
        display: none;
    }

    .fm-menu {
        display: none;
    }
    /* Hiển thị 1 cột sản phẩm */
    .fm-products {
        grid-template-columns: 1fr;
    }

    .icon-show {
        display: block;
        cursor: pointer;
    }
}
/* Tablet: Từ 768px đến 992px */
@media (min-width: 768px) and (max-width: 992px) {
    .logo {
        width: 80px;
        height: 80px;
    }

    .fm-menu {
        display: none;
    }

    .fm-sidebar {
        display: none;
    }

    /* Hiển thị 2 cột sản phẩm */
    .fm-products {
        grid-template-columns: repeat(2, 1fr);
    }

    .icon-show {
        display: block;
        cursor: pointer;
    }
}

/* Desktop */
@media (min-width: 992px) {
    .logo {
        width: 100px;
        height: 100px;
    }

    .fm-menu {
        display: none;
    }
    /* Hiện cột aside */
    .fm-sidebar {
        display: block;
    }

    /* Hiển thị 3 cột sản phẩm */
    .fm-products {
        grid-template-columns: repeat(3, 1fr);
    }

    .icon-show {
        display: block;
        cursor: pointer;
    }
}

.fm-menu {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.item-menu {
    padding: 10px;
    margin: 10px;
    background-color: lightpink;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}

    .item-menu a {
        text-decoration: none;
        color: black;
    }

    .item-menu:hover {
        box-shadow: yellow 5px 5px;
    }

html {
    scroll-behavior: smooth;
}

/* Cố định Header luôn nằm ở trên cùng khi kéo xuống */
.header-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ffffff; /* Giữ nền trắng không bị nhìn xuyên qua */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Tạo bóng nhẹ tách biệt với bài */
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}
.pro-box{
    display:block;
}
.list-pro{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}
